    /* @import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap'); */
    
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    body {
        background-color: #fafafa;
        position: relative;
        margin-top: 4rem;
        /* height: 100vh; */
    }
    
    #anim-background {
        display: flex;
        justify-content: center;
        align-items: center;
        /* height: 100vh; */
        /* overflow: hide; */
        /* background: linear-gradient(to bottom, #f1f4f9, #dff1ff); */
    }
    
    #anim-background .anim-color {
        position: absolute;
        filter: blur(180px);
    }
    
    #anim-background .anim-color:nth-child(1) {
        top: -150px;
        width: 600px;
        height: 400px;
        background: #ff63b1;
    }
    
    #anim-background .anim-color:nth-child(2) {
        bottom: -250px;
        left: 750px;
        width: 600px;
        height: 600px;
        background: #fffd87;
    }
    
    #anim-background .anim-color:nth-child(3) {
        bottom: -250px;
        right: 700px;
        width: 600px;
        height: 600px;
        background: #00d2ff;
    }
    
    .anim-box {
        position: relative;
    }
    
    .anim-box .anim-square {
        position: absolute;
        backdrop-filter: blur(5px);
        box-shadow: 0 25px 45pxrgba (0, 0, 0, 0, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-right: 1px solid rgba(255, 255, 255, 0.2);
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        background: rgba(255, 255, 255, 0.3);
        border-radius: 10px;
        animation: animate 5s linear infinite;
        animation-delay: calc(-1s * var(--i));
    }
    
    @keyframes animate {
        0%,
        100% {
            transform: translateY(-40px);
        }
        50% {
            transform: translateY(40px);
        }
    }
    
    .anim-box .anim-square:nth-child(1) {
        top: -50px;
        right: -60px;
        width: 100px;
        height: 100px;
    }
    
    .anim-box .anim-square:nth-child(2) {
        top: 150px;
        left: -100px;
        width: 120px;
        height: 120px;
        z-index: 2;
    }
    
    .anim-box .anim-square:nth-child(3) {
        bottom: 50px;
        right: -60px;
        width: 80px;
        height: 80px;
        z-index: 2;
    }
    
    .anim-box .anim-square:nth-child(4) {
        bottom: -100px;
        left: 100px;
        width: 50px;
        height: 50px;
    }
    
    .anim-box .anim-square:nth-child(5) {
        top: -80px;
        left: 140px;
        width: 60px;
        height: 60px;
    }
    
    .anim-container {
        position: relative;
        width: 400px;
        min-height: 400px;
        background: rgba(255, 255, 255, 0.4);
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(5px);
        box-shadow: 0 25px 45px rgba(0, 0, 0, 0, 0.9);
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-right: 1px solid rgba(255, 255, 255, 0.5);
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }
    
    .anim-form {
        position: relative;
        width: 100%;
        height: 100%;
        padding: 40px;
    }
    
    .anim-form h1 {
        /* font-family: 'Satisfy', cursive; */
        position: relative;
        color: #fff;
        font-size: 24px;
        font-weight: bold;
        letter-spacing: 1px;
        margin-bottom: 40px;
    }
    
    .anim-form h2::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -10px;
        width: 80px;
        height: 4px;
        background: #fff;
    }
    
    .anim-form .inputBox {
        width: 100%;
        margin-top: 20px;
    }
    
    .anim-form .inputBox input {
        width: 100%;
        background: rgba(255, 255, 255, 0.2);
        border: none;
        outline: none;
        padding: 10px 20px;
        border-radius: 35px;
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-right: 1px solid rgba(255, 255, 255, 0.2);
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        font-size: 16px;
        letter-spacing: 1px;
        color: rgba(41, 34, 34, 0.781);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    }
    
    .anim-form .inputBox input::placeholder {
        color: rgba(94, 87, 87, 0.384);
    }
    
    .anim-form .inputBox input[type="submit"] {
        background: #fff;
        color: #666;
        max-width: 100px;
        cursor: pointer;
        margin-bottom: 20px;
    }
    
    .anim-form .anim-forget {
        margin-top: 5px;
        margin-top: 10px;
        padding: 10px;
        top: 10px;
        text-decoration: none;
        /* color: #fff; */
    }
    
    h1.anim-logo {
        color: black;
        font-size: 45px;
        position: relative;
        text-align: center;
        cursor: pointer;
    }
    
    h1.anim-logo:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 3.5px;
        bottom: 0;
        left: 0;
        background-color: rgb(0, 0, 0);
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.3s ease-in-out;
    }
    
    h1.anim-logo:hover:before {
        visibility: visible;
        transform: scaleX(1);
    }
    
    .login {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .new-navbar {
        display: flex;
        justify-content: space-around;
        position: fixed !important;
        background: white;
        border-bottom: 1px solid rgb(211, 210, 210);
        align-items: center;
        top: 0;
        width: 100%;
        padding: 10px 10px;
        z-index: 10;
        min-width: 400px;
    }
    
    .navbar-items {
        display: flex;
        align-items: center;
        min-width: 200px;
    }
    
    .navbar-all-items {
        display: flex;
        align-items: center;
        text-decoration: none;
        list-style: none;
    }
    
    .navbar-logo {
        padding-left: 20px;
    }
    
    ul.dropdown-menu {
        position: absolute;
        top: 200;
    }
    
    .new-content {
        margin-top: 5%;
    }
    
    @media only screen and (max-width: 545px) {
        .navbar-all-items .nav-item .nav-link {
            padding: 0 10px;
        }
        #profile-image img {
            display: none;
        }
    }
    
    @media only screen and (max-width: 300px) {
        .main-container {
            margin-left: 0;
        }
        .navbar-all-items {
            margin-left: none;
        }
    }
    
    @media only screen and (max-width: 786px) {
        .right-side-Navigation {
            display: none;
        }
        #instaTV {
            display: none;
        }
        #side-Navigation {
            display: none;
        }
        .new-navbar {
            margin: none;
            padding: none;
        }
    }
    
    @media only screen and (max-width: 600px) {
        .anim-container {
            width: 80%;
            height: auto;
            /* overflow: hidden; */
        }
        #anim-background {
            width: 50%;
            /* position: relative; */
        }
        #anim-background .anim-color {
            filter: blur(80px);
            width: 50%;
        }
        #anim-background .anim-color:nth-child(1) {
            top: 20px;
            left: 50px;
            width: 400px;
            height: 500px;
            background: #ff63b1;
        }
        #anim-background .anim-color:nth-child(2) {
            bottom: -210px;
            left: 280px;
            width: 300px;
            height: 400px;
            background: #fffd87;
        }
        #anim-background .anim-color:nth-child(3) {
            bottom: -250px;
            right: 200px;
            width: 300px;
            height: 500px;
            background: #00d2ff;
        }
        .anim-box {
            top: 4rem;
            left: 9rem;
            height: auto;
            width: auto;
        }
        .anim-form {
            /* position: absolute; */
            /* top: 5rem;
        left: 2rem; */
            /* width: 50%; */
            /* background: black; */
            height: auto;
            width: 400px;
            margin: 0 auto;
        }
        .anim-logo-background .anim-logo {
            width: 100%;
            font-size: 20px;
        }
        #anim-background .anim-color {
            position: absolute;
            /* filter: blur(140px); */
        }
    }
    
    #whole-container {
        display: flex;
        width: 100vw;
        min-width: 400px !important;
        /* max-width: 400px; */
    }
    
    #instaTV {
        width: 5rem;
        font-size: 1rem;
        /* position: absolute; */
        top: 0;
        height: 2rem;
        right: 20px;
        /* border-radius: 10px; */
        margin: 0 10px;
        border: 2px solid black;
        border-radius: 5px;
        background: #fafafa;
        box-shadow: 5px 2px 5px black;
    }
    
    #instaTV:hover {
        color: rgb(66, 64, 64);
        border: 2px solid rgb(151, 148, 148);
    }
    
    #instaTV.insta-active {
        background: rgb(56, 49, 49);
        color: white;
    }
    
    #side-Navigation {
        position: fixed;
        overflow: scroll;
        background: white;
        z-index: 5;
        width: 34%;
        top: 8%;
        right: 0;
        height: 0;
        margin: 30px 20px;
        border-radius: 5px;
        /* border: 2px solid rgb(230, 229, 229); */
        transition: all ease-in-out 0.5s;
        box-shadow: 2px 10px 10px black;
    }
    
    #side-Navigation.active {
        height: 46rem;
        /* width: 30%; */
    }
    
    .main-Container {
        width: 73%;
        margin: 0 auto;
        /* position: absolute; */
        /* left: 450px; */
        display: flex;
    }
    
    .right-side-Navigation {
        width: 25%;
        /* position: fixed; */
        margin: 0 10px;
        padding: 20px 10px;
        right: 0;
    }
    
    .new-sidebar {
        margin-top: 20%;
        width: 100%;
    }
    
    .side-row {
        display: flex;
        /* align-items: center; */
        flex-direction: column;
        width: 100%;
        /* height: 40%; */
        /* background: #fffd87; */
        border-radius: 5px;
        filter: drop-shadow(5px);
    }
    
    .side-row:hover {
        filter: none;
    }
    
    .side-column {
        display: flex;
        flex-direction: column;
        position: relative;
        /* overflow: hidden; */
    }
    
    .side-col {
        height: 300px;
        overflow: hidden;
    }
    
    .side-img-row {
        height: 300px;
    }
    
    .small-img {
        overflow: hidden;
        width: 100%;
        height: 300px;
        /* height: 100%; */
    }
    
    .small-img .play-btn {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 40px;
        transform: translate(-50%, -50%);
        cursor: pointer;
    }
    
    .small-img-row {
        margin-top: 10px;
        position: relative;
    }
    
    .side-feature-img {
        display: flex;
        align-items: center;
        position: relative;
        /* background-color: #ff63b1; */
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    
    .side-img1 {
        width: 100%;
        height: 100%;
    }
    
    .side-img2 {
        width: 100%;
        height: 100%;
    }
    
    .play-btn {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 60px;
        transform: translate(-50%, -50%);
        cursor: pointer;
    }
    
    .video-player {
        width: 60%;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 3px 10px 10px black;
        display: none;
        z-index: 10;
    }
    
    video:focus {
        outline: none;
    }
    
    .close-btn {
        top: 10px;
        right: 10px;
        width: 30px;
        cursor: pointer;
        position: absolute;
    }